name: SofaScraper LIVE

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape_and_commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install
        run: pip install -r requirements.txt
      - name: Run
        run: python main.py
      - name: Commit
        run: |
          git config --global user.name "SofaBot"
          git config --global user.email "sofabot@users.noreply.github.com"
          if [ -f live_results.csv ]; then
            git add live_results.csv
            git commit -m "Live update" || exit 0
            git push
          fi
